<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Faça Contato</ion-title>
    <ion-icon name="chatbubbles" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <p>Preencha todos os campos abaixo para entrar em contato com a equipe do {{ env.appName }}.</p>

    <p>
      <ion-input label="Nome:" type="text" label-placement="floating" fill="outline" placeholder="Seu nome completo"
        errorText="Nome inválido" [(ngModel)]="form.name" required minlength="3"></ion-input>
    </p>

    <p>
      <ion-input label="Email:" type="email" label-placement="floating" fill="outline"
        placeholder="Seu e-mail" required email></ion-input>
    </p>

    <p>
      <ion-input label="Assunto:" type="text" label-placement="floating" fill="outline"
        placeholder="Assunto do contato"></ion-input>
    </p>

    <p>
      <ion-textarea label="Mensagem:" labelPlacement="floating" fill="outline" [autoGrow]="true"
        placeholder="Mensagem do contato"></ion-textarea>
    </p>

    <p>
      <ion-button type="submit">Enviar</ion-button>
    </p>

</ion-content>